.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 89vh;
  /* background-image: url("../../public/image/leaf.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  background-color: #f4f4f4;
}

.form {
  background: white;
  padding: 35px;
  border-radius: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  /* background-image: url("../../public/image/leaf.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  width: 600px;
}

.form h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;
  color: #164863;
}

.formGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 17px;
  /* backdrop-filter: blur(10px); */
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroupFull {
  grid-column: span 2;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.form label {
  font-weight: bold;
  font-size: 15px;
  color: #04364a;
  margin-bottom: 5px;
}

.form input,
.form select {
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  padding: 7px 10px;
}

.form input:focus {
  outline: none;
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: #427d9dcd;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 25px;
}

.submitButton:hover {
  background-color: #427d9d;
}

.loginLink {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #176b87;
  font-size: 14px;
}

.loginLink div {
  margin-top: 10px;
}

.loginLink:hover {
  text-decoration: underline;
}
