<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User_Registration</title>
</head>
<body>
    <form action="" method="post">
        Name : <input type="text" name="name"><br><br>
        Mail : <input type="email" name="mail"><br><br>
        Age : <input type="number" name="age"><br><br>
        Gender : <input type="radio" value="male" name="name"> <input type="radio" value="female" name="name"><br><br>
        Mobile : <input type="text" name="mobile"><br><br>
        Address : <input type="text" name="address"><br><br>
        Pass : <input type="password" name="pass"><br><br>
        <input type="submit" name="sub" value="Register">
        <input type="reset" name="res" value="Cancel"><br><br>
    </form>
</body>
</html>